<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.kflnoterush.NoAds"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>KFL-NotRush</name>

  <description>
      Bu oyun bir dramin hikaysidir.
  </description>

  <author href="http://ahmetakifkayaprojeblog.blogspot.com/" email="ahmetakifkaya@hotmail.com">
      Ahmet Akif KAYA
  </author>

  <icon src="KFL-NotRush/IMAGES/icon.PNG" />

</widget>
